*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"popping", sans-serif;
}

body{
    background:#fff ;
}
.wrapper{
    width: 330px;
    padding: 2rem;
    margin:  50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
h1{
    font-size: 1.7rem;
    color: #D19C97;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
.button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #D19C97;
    cursor: pointer;
    background: #e4e4e4;
}
.recover{
    text-align: center;
    /*font-size: 0.7rem;*/
    font-size: 15px;
    margin: 0.3rem 1.4rem 0 0;
}
.recover a{
    text-decoration: none;
    color: darkslateblue;
}
.radio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
  }
  
  input[type="radio"] + label:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e4e4e4;
    border: 1px solid #fff;
  }
  
  input[type="radio"]:checked + label:before {
    background-color: #d19c97;
  }
  
  input[type="radio"] + label:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    display: none;
  }
  
  input[type="radio"]:checked + label:after {
    display: block;
  }
.radio-label {
    text-align:justify;
    color: #D19C97;
  }
  
  .member{
    color:#D19C97 ;
  }
  .login-link{
    color: black;
  }